<div id="main-container">

  <div id="ccm-container-1">
    <h1 id="questions">Questions ?</h1>
    <p id="endroit">Vous êtes au bon endroit !</p>
  </div>

  <div id="ccm-container-2">
    <div id='vente'>Vente</div>
    <div id='expertise'>Expertise</div>
    <div id='prix'>Prix</div>
    <div id='achat'>Achat</div>
  </div>

  <div id="vente-container">

    <p id="beau">C'est bien beau tout ça, mais...</p>
    <h1 id="ccm?">Comment ça marche ?</h1>
    <p id="information">Tout d'abord, enregistrez votre voiture en ligne. En nous indiquant quelques informations essentielles</p>
    <ul>
      <li>Marque</li>
      <li>Modèle</li>
      <li>Année</li>
      <li>Finition</li>
      <li>Kilométrage</li>
    </ul>
    <p id="lieu">Dites-nous aussi où vous êtes et nous vous contacterons pour planifier une expertise de la voiture, 100% gratuite.</p>

    <div id="vente-sub-container-1">
      <h1 class="sub-container-title">Chez vous, à vos bureaux, où bon vous semble</h1> 
      <p class="sub-container-content">Un de nos experts se déplacera pour compléter l’expertise de votre bijou. Aucune voiture n’est mise en vente sans obtenir la certification Projet Vroom.</p>
      <p class="sub-container-content">Nous prendrons également de magnifiques photos pour mettre en valeur et représenter de façon très détaillée votre véhicule, toujours 100% gratuit.</p>
    </div>

    <div id="vente-sub-container-2">
      <h1 class="sub-container-title">Chez vous, à vos bureaux, où bon vous semble</h1> 
      <p class="sub-container-content">Une fois les vérifications complétées nous mettons votre annonce en ligne sur notre site, ainsi que sur les plus grandes plateformes françaises pour une visibilité maximale: Le Bon Coin, L’argus et La Centrale.</p>
      <p class="sub-container-content">Nous vous demanderons même une petite description de la voiture dans vos propres mots: pourquoi vous la vendez, les aventures, bons moments et souvenirs que vous avez vécu avec. Les voitures ont des personnalités, il faut les mettre en avant !</p>
    </div>

    <div id="vente-sub-container-3">
      <h1 class="sub-container-title">On s’occupe de tout!</h1> 
      <p class="sub-container-content">Vous n’avez pas à lever un petit doigt, nous nous occupons de tout ! Continuez à conduire le temps que nous trouvions un acheteur.</p>
      <p class="sub-container-content">Soyez sans crainte, avec un tel niveau d’information et de visibilité, nos belles autos partent très vite.</p>
    </div>

    <div id="vente-sub-container-4">
      <h1 class="sub-container-title">C’est l’heure de dire au-revoir</h1> 
      <p class="sub-container-content">Dès qu’un acheteur se manifeste nous venons prendre la voiture chez vous, en prime nous lui refaisons une petite beauté avant de la livrer chez l’acheteur.</p>
      <p class="sub-container-content">Nous nous occupons bien sûr de gérer le paiement, vous gardez le contrôle de votre voiture tant que le transfert n’est pas sécurisé. Nos partenaires Lemon Way et BNP Paribas travaillent avec nous pour vous garantir une complète tranquillité d’esprit.</p>
      <p class="sub-container-content">Il arrive que l’acheteur ait un doute au moment de l’essai, dans ce cas nous ramènerons la voiture chez vous, propre et avec le plein. Notre philosophie est d’offrir un service sans aucune pression d’achat. Promis, un autre acheteur ne sera pas loin.</p>
    </div>

  </div>

  <div id="expertise-container">
    
    <p id="expertise">L'expertise</p>
    <h1 id="quid?">Mais qu'est-ce donc ?</h1>
    <p id="rituel">Rituel de passage pour toutes nos voitures, il s’agit de 2 heures au cours desquelles notre expert se déplace chez vous pour inspecter titine dans ses moindres recoins. Notre expert vérifie:</p>
    <ul>
      <li>130 points</li>
      <li>Carrosserie et intérieur</li>
      <li>Mécanique et chassis</li>
      <li>Historique et entretien</li>
      <li>Test de conduite</li>
    </ul>
    <p id="assurance">Rien n’échappe à nos experts, notre certification vous permet d’y aller les yeux fermés (assurez-vous de les rouvrir pour prendre le volant).</p>

    <div id="vente-sub-container-4">
      <h1 class="sub-container-title">Qui sont ces experts ?</h1> 
      <p class="sub-container-content">[Réponse à finaliser]</p>
    </div>


  </div>

</div>
