<%= image_tag("main-img-narrow.jpg", class:'main-img' ) %>
<div class="background-container-CG">

  <div class="main-container-CG">

    <h1 class="title-CG">Conditions générales de prestations & politique de confidentialité</h1>
    <p class="tagline-CG">
    <span>
      Conditions générales d’utilisation du site <br><a href="http://www.nationale7.co/" target="_blank" >www.nationale7.co</a>, de vente et d’achat de NATIONALE 7.
    </span>
    </p>


    <div class="copy-CG">
      
      <p>Bienvenue sur <a href="http://www.nationale7.co/" target="_blank" >www.nationale7.co</a>, le site internet édité par la société Nationale 7, société par actions simplifiée au capital de 1000 euros, ayant son siège social au 48, rue de Transvaal, 44300 NANTES – téléphone : <a href="tel:0176390284">01 76 39 02 84</a> – immatriculée au Registre du Commerce et des Sociétés de Nantes sous le numéro 820 295 558.</p>

      <p>Les présentes conditions générales sont ci-après dénommées les « Conditions Générales » et régissent toute utilisation du site internet <a href="http://www.nationale7.co/" target="_blank" >www.nationale7.co</a>, ainsi que tout le contenu, les services, les activités et les produits affichés, vendus ou prestés par NATIONALE 7 et/ou disponibles sur ou à travers le site internet (collectivement « Les Services »). Les achats et ventes réalisés sur le site internet <a href="http://www.nationale7.co/" target="_blank" >www.nationale7.co</a>, et plus généralement l'utilisation des Services, implique l'acceptation sans réserves des Conditions Générales.</p>

      <p>Ces Conditions Générales définissent les termes légaux ainsi que les conditions de votre utilisation du site internet de NATIONALE 7 et des Services.</p>

      <h2 class="h2-CG">Préambule</h2>

      <p> NATIONALE 7 est un service qui facilite les ventes et achats de voitures d’occasion entre vendeurs et acheteurs particuliers. NATIONALE 7 assure l’intermédiation entre les Utilisateurs, assure l’enlèvement et la livraison du véhicule en vente, et assiste les Utilisateurs dans la préparation des formalités de cession du véhicule mis en vente, aux termes et conditions définis par les présentes.</p>

      <p>Les présentes conditions générales de prestations ont pour objet de définir les relations entre NATIONALE 7, et les Utilisateurs du site <a href="http://www.nationale7.co/" target="_blank" >www.nationale7.co</a> qui souhaiteraient bénéficier des services fournis par NATIONALE 7, décrits ci-après (ci-après « le Site »).</p>

      <p><b>En qualité d’intermédiaire, il est expressément indiqué que NATIONALE 7 ne devient, à aucun moment, propriétaire du véhicule, la vente intervenant uniquement entre le vendeur (ci-après « le Vendeur ») et l’acheteur (ci-après « l’Acheteur »).</b></p>

      <h2 class="h2-CG">Article 1 - Définitions</h2>

      <p><b>Acheteur</b> : Utilisateur souhaitant acheter un véhicule.</p>

      <p><b>Annonce</b> : L’annonce indique les caractéristiques du véhicule mis en vente, le contenu du rapport de l’Expert, les photos prises par le photographe NATIONALE 7, le prix de vente du véhicule, ainsi que, le cas échéant, le commentaire personnalisé du Vendeur.</p>

      <p><b>Contenus</b> : Contenus de toute nature que NATIONALE 7 diffuse sur le Site et sur des Sites Dépositaires (notamment rédactionnels, graphiques, photographiques vidéos ou autres, en ce compris la dénomination et/ou l’image éventuellement choisies par l’Utilisateur pour s’identifier sur le Site).</p>

      <p><b>Coordonnées</b> : Nom, prénom, date de naissance, téléphone, email et adresse postale de l’Utilisateur, et plus généralement toutes informations renseignées sur le Site. Ces coordonnées seront communiquées à l’Expert.</p>

      <p><b>Déclaration de cession</b> : Elle formalise définitivement la vente entre le Vendeur et l’Acheteur. Elle est adressée par l’Acheteur à la Préfecture de Police.</p>

      <p><b>Expertise</b> : Examen commandé par le Vendeur et réalisé par l’Expert, tiers indépendant, qui dresse un rapport sur l’état du véhicule du Vendeur, après examen technique, essai, et vérification de la régularité des papiers. Ce rapport comprend les photos qui auront été prises lors de l’expertise.</p>

      <p><b>LemonWay</b> : Etablissement de paiement agréé par l’ACPR, référence 16568. Le fonctionnement du service LemonWay est accessible sur le Site.</p>

      <p><b>Partenaire</b> : prestataire de Services tiers à NATIONALE 7 et utilisé par NATIONALE 7.</p>

      <p><b>Services</b> : ensemble des prestations proposées par NATIONALE 7 via le Site.</p>

      <p><b>Site</b> : Site internet propriété de NATIONALE 7 SAS et dont le nom de domaine est www.nationale7.co.</p>

      <p><b>Site Dépositaire</b> : Site internet différent du Site sur lequel un Vendeur, particulier ou professionnel, a déposé une Annonce.</p>

      <p><b>Tiers</b> : toute personne physique ou morale n’étant ni la Société ni un Utilisateur.</p>

      <p><b>Utilisateur</b> : toute personne physique ou morale faisant usage des Services.</p>

      <p><b>Véhicule</b> : Véhicule terrestre à moteur d’occasion ou assimilé neuf au sens de l’article 298 sexies du Code Général des Impôts objet d’une Annonce.</p>

      <p><b>Vendeur</b> : Personne physique ou morale ayant utilisé les Services de NATIONALE 7 pour vendre son véhicule.</p>

      <h2 class="h2-CG h2-CG-center"><b>Dispositions générales</b></h2>

      <h2 class="h2-CG">Article 2 - Accès aux services</h2>

      <p>Tous les Services disponibles à tout moment sur le Site et/ou proposés par NATIONALE 7 sont soumis aux présentes Conditions Générales.</p>

      <p>Le Site est par principe accessible par l’Utilisateur sept jour sur sept (7 / 7), vingt quatre heures sur vingt quatre (24 / 24) sauf en cas d’interruption volontaire ou non, notamment pour des besoins de maintenance ou de force majeure. NATIONALE 7 étant de fait, par son activité, tenu à une obligation de moyen, il ne pourra être tenu responsable de tout préjudice <b>quelle qu’en soit la nature</b>, résultant d’une indisponibilité de son Site.</p>

      <p>Les Conditions Générales sont accessibles à tout moment sur le Site, sauf cas prévu ci-dessus. Les présentes conditions générales de vente prévalent sur tout autre document.
      <br>
      Les présentes conditions générales expriment l’intégralité des obligations des parties. Elles constituent le socle unique de la relation commerciale entre les parties, et, en ce sens, l’utilisateur est réputé les accepter sans réserve.
      <br>
      NATIONALE 7 peut, à sa seule discrétion, restreindre ou suspendre l'accès à son site à quelque partie que ce soit. NATIONALE 7 peut également suspendre ou cesser l'exploitation de son Site.</p>

      <h2 class="h2-CG">Article 3 - Contact et service clientèle</h2>
      
      <p>
        Toute communication ou demande de renseignements doit être adressée à :
        <br>
        <b>SAS NATIONALE 7</b>
        <br>
        24 boulevard Saint-Denis, 75010 Paris
        <br>
        Tel : <a href="tel:0176390284">01 76 39 02 84</a>
        <br>
        <a href="mailto:bonjour@nationale7.co">bonjour@nationale7.co</a>
      </p>

      <h2 class="h2-CG">Article 4 - Utilisation</h2>

      <p>Le Site et plus généralement les Services sont destinés à être utilisés par des résidents de la partie continentale de la France métropolitaine uniquement, âgés de dix-huit (18) ans ou plus, ayant la capacité juridique de contracter. En acceptant ces Conditions Générales, vous déclarez que vous répondez à ces exigences. Si vous acceptez ces Conditions Générales au nom d’une société, vous déclarez et affirmez que vous avez le pouvoir de le faire.</p>

      <h2 class="h2-CG">Article 5 - Vente par des particuliers vendeurs / non-ingérence</h2>

      <p><b>Mise en vente par des particuliers</b>
      <br>
      L’objectif premier du Site et des Services est de faciliter les ventes et achats entre des particuliers vendeurs et acheteurs de véhicules d’occasion. Les voitures à la vente sur le Site sont mises en vente par le particulier vendeur, et non par NATIONALE 7.</p>

      <p><b>Droit à modification</b>
      <br>
      Comme indiqué dans la politique de confidentialité de NATIONALE 7 ci-dessous, vous disposez d'un droit d’opposition, d’accès, de rectification et de suppression sur les données vous concernant, droit que vous pouvez exercer dans les conditions prévues par la Loi du 6 janvier 1978.</p>

      <p><b>Actions interdites</b>
      <br>
      Vous ne devez pas (i) utiliser les informations et, en particulier, le nom d’une autre personne que vous sans les autorisations nécessaires et/ou (ii) renseigner de fausses informations vous concernant.
      <br>
      Vous devez notifier NATIONALE 7 sans délai de tout changement quant à votre éligibilité pour l’utilisation des Services, et/ou d’une utilisation non autorisée de vos informations d’utilisateur des Services dont vous auriez eu connaissance en envoyant un email à l’adresse suivante : <a href="mailto:bonjour@nationale7.co">bonjour@nationale7.co</a> ou en nous téléphonant au <a href="tel:0176390284">01 76 39 02 84</a>.</p>

      <h2 class="h2-CG">Article 6 - Obligation du vendeur</h2>

      <h3 class="h3-CG"><b>1 – Enregistrement du véhicule à vendre</b></h3>

      <p>Le Vendeur reconnait être âgé de plus de 18 ans et être propriétaire du véhicule au moment de la vente, sur lequel il n’a consenti aucun gage ou autre sureté susceptible d’affecter de quelque manière que ce soit la propriété dudit bien.</p>

      <p>Le Vendeur communique les informations caractéristiques de son véhicule : année de mise en circulation, kilométrage, constructeur, modèle, type de carrosserie, nombre de porte, carburant, boite de vitesse, motorisation et finitions.</p>

      <p>NATIONALE 7 ne poursuivra les démarches que si le véhicule présente un excellent état général, a été mis en circulation moins de 8 ans auparavant, enregistre moins de 125.000 km au compteur, et n’a pas connu de sinistre grave.</p>

      <p>Lorsque les caractéristiques du véhicule répondent aux exigences de NATIONALE 7, cette dernière contacte le Vendeur afin qu’il lui transmette, par télécopie ou courrier électronique, une copie des documents suivants :</p>
      <ul>
        <li>certificat d’immatriculation (carte-grise);</li>
        <li>carte d’identité du Vendeur (recto verso);</li>
        <li>justificatif de domicile de moins de trois mois;</li>
        <li>justificatif du dernier contrôle technique datant de moins de 4 mois, pour les véhicules de plus de 4 ans.</li>
      </ul>

      <p>Il est entendu que ces dernières données ne seront pas visibles sur le Site et sont seulement destinées à la vérification par NATIONALE 7 de la propriété du véhicule, à l’obtention du certificat de non gage et à la préparation de la déclaration de cession du véhicule en cas de réalisation de la vente. À réception de ces documents, NATIONALE 7 fait une demande de certificat de non-gage auprès de la Préfecture de Police. Si le véhicule est gagé, le processus s’arrête immédiatement.</p>

      <h3 class="h3-CG"><b>2 – Rendez-vous expertise et photographie</b></h3>

      <p>NATIONALE 7 et le Vendeur conviennent d’un rendez-vous avec l’Expert, qui devra intervenir dans les 7 jours calendaires à compter de la réception des documents, au domicile du Vendeur ou à tout lieu convenu, dans la limite territoriale de l’Ile de France.
      <br>
      L’Expert sera accompagné d’un photographe représentant de NATIONALE 7.</p>

      <p>L’Expert ou un représentant de NATIONALE 7 contactera le Vendeur pour confirmer le rendez-vous au plus tard la veille de la date convenue.</p>

      <p>Dans le but d’en faciliter la vente, le Vendeur s’engage à préparer au mieux son véhicule. A cette fin, il fait les efforts nécessaires pour nettoyer l’intérieur et l’extérieur de son véhicule pour la prise de photos, retirer tous les accessoires comme les sièges enfants, attelage, housse de protection, filtres solaires ou autocollants, et plus généralement tous éléments qui ne seraient pas mis en vente avec le véhicule.
      <br>
      Le véhicule est idéalement sec et visible à la lumière du jour.</p>

      <p>Au cours de l’expertise, l’expert procède à :</p>
      <ul>
        <li>l’examen du véhicule, en ce compris un essai routier ;</li>
        <li>la vérification des informations données par le Vendeur à NATIONALE 7 (identité du Vendeur, certificat d’immatriculation, justificatif du contrôle technique) ;</li>
      </ul>

      <p>Le Vendeur, ou un représentant de son choix, doit obligatoirement assister à l’expertise. Il devra présenter pendant l’expertise les éléments suivants :</p>
      <ul>
        <li>Carnet d’entretien ;</li>
        <li>Facture d’achat, le cas échéant ;</li>
        <li>Factures d’entretiens, le cas échéant ;</li>
        <li>Certificat d’immatriculation ;</li>
        <li>Carte d’identité ;</li>
        <li>Procès-verbal de contrôle technique (pour les véhicules de plus de quatre ans, seulement) ;</li>
        <li>Manuel d’utilisation ;</li>
        <li>Les clés ou les doubles des clés.</li>
      </ul>

      <p>Le Vendeur doit informer l’Expert de tout évènement qui serait intervenu et qui aurait endommagé le véhicule (accidents et réparations subséquentes, vice révélé). A l’issue de son expertise, l’Expert dresse un rapport qu’il transmet uniquement à NATIONALE 7.</p>

      <p>Une fois l’expertise complétée, le photographe NATIONALE 7 prendra plusieurs prises de vues dans le but de bien mettre en valeur l’annonce du véhicule.</p>

      <h3 class="h3-CG"><b>3 – Estimation du prix du véhicule par NATIONALE 7</b></h3>

      <p>Au regard du rapport de l’Expert et du positionnement du marché, NATIONALE 7 procède à l’évaluation du prix de vente du véhicule et le soumet au Vendeur. Ce prix correspond au prix moyen du marché de l’achat et de la vente et comprend la commission que le Vendeur versera à NATIONALE 7 en contrepartie des prestations effectuées pour son compte.</p>

      <p>Le montant de la commission s’élève à 5% et ne pourra être inférieur à 600 € Toutes Taxes Comprises (TTC).</p>

      <p>L’accord donné par le Vendeur sur le prix de son véhicule, tel qu’évalué par NATIONALE 7, emporte mandat de vente dont les conditions sont fixées ci-après.</p>

      <p>En cas de refus l’entente de mandat de vente devient de ce fait caduque.</p>

      <p>L’acceptation des conditions du mandat, et l’accord donné sur le prix de mise en vente du véhicule, est donné par retour de courriel adressé par NATIONALE 7 au Vendeur.</p>

      <h3 class="h3-CG"><b>4 – Mandat de vente</b></h3>

      <p>Une fois le prix fixé en accord avec NATIONALE 7, le Vendeur confie à NATIONALE 7, la mission de :</p>

      <ul>
        <li>Mettre en ligne l’annonce du Vendeur sur son site et les sites partenaires de NATIONALE 7 ;</li>
        <li>Recevoir la somme due par l’Acheteur sur un compte de cantonnement LemonWay, établissement de paiement agréé par l’ACPR, référence 16568 ;</li>
        <li>Assurer l’enlèvement au domicile du Vendeur du véhicule, la collecte des documents nécessaires à la vente et notamment le certificat d’immatriculation et justificatif du contrôle technique (le cas échéant), la préparation du véhicule (nettoyage avec au minimum un demi-plein d’essence), et sa livraison au domicile de l’Acheteur ;</li>
        <li>Effectuer les formalités nécessaires à la cession du véhicule (demande de certificat de non gage, préparation et envoi de la déclaration de cession à la préfecture) ;</li>
        <li>Transférer la somme due au Vendeur, déduction faite de la commission due à NATIONALE 7, après signature, par l’Acheteur, de la déclaration de cession.</li>
      </ul>

      <p>Le mandat entre en vigueur au jour de la mise en ligne de l’annonce sur le Site de NATIONALE 7.</p>

      <p>Il est valable pour une durée minimum de 5 semaines. A l’issue de cette période, le Vendeur est libre de demander à NATIONALE 7 de retirer l’annonce, ou de la maintenir.</p>

      <p>NATIONALE 7 opère un mandat semi-exclusif ce qui signifie que le Vendeur peut continuer à commercialiser son véhicule de son côté; s’il le vend sans utiliser les services de la Société, il aura rompu l’exclusivité, et devra s’acquitter d’une indemnité de rupture de trois cents (300) euros TTC, correspondant à une partie des frais engagés dans l’inspection du véhicule, la mise en valeur du véhicule et dans la recherche d’Acheteurs potentiels.</p>

      <p>De la même façon si le vendeur décide d’annuler la vente de son véhicule avant la fin du mandat, l’indemnité de rupture de trois cents (300) euros TTC devra être acquittée.</p>

      <h3 class="h3-CG"><b>5 – Utilisation du véhicule</b></h3>

      <p>Le Vendeur peut faire usage du véhicule mis en vente dans des conditions normales au cours de la vente. Dans l’hypothèse où le Vendeur ferait un usage du véhicule supérieur à 1.500 km, à compter du relevé de compteur par l’Expert lors de l’expertise, il en informe immédiatement NATIONALE 7.</p>

      <p>En cas de dommage causé au véhicule mis en vente ou de tout évènement susceptible d’influer sur son prix de vente, le Vendeur s’engage à immédiatement prévenir NATIONALE 7. Dans ce cas, en accord avec le Vendeur, NATIONALE 7 est autorisée à revoir à la baisse le prix de vente du véhicule ou mettre fin au mandat de vente.</p>

      <h3 class="h3-CG"><b>6 – Enlèvement du véhicule et remise des documents nécessaires à la cession</b></h3>

      <p>Lorsque l’Acheteur paye par virement bancaire, à réception sur un compte de cantonnement LemonWay, du paiement du prix du véhicule, NATIONALE 7 prend immédiatement contact avec le Vendeur en vue de l’enlèvement du véhicule et de la collecte des documents nécessaires à la cession, qui doit impérativement intervenir dans les 7 jours calendaires de la prise de contact.</p>

      <p>Le jour du rendez-vous, et avant de procéder à l’enlèvement, le représentant NATIONALE 7 s’assure que le véhicule mis en vente est visuellement conforme en tous points au rapport d’expertise.</p>

      <p>Si c’est le cas, le représentant NATIONALE 7 se fait remettre par le Vendeur :</p>
      <ul>
        <li>les clés du véhicule ;</li>
        <li>le certificat d’immatriculation ;</li>
        <li>l’original du dernier contrôle technique datant de moins de 4 mois, pour les véhicules de plus de 4 ans ;</li>
        <li>le carnet d’entretien du véhicule ;</li>
        <li>la copie de la carte d’identité du Vendeur, recto verso ;</li>
        <li>la copie du justificatif de domicile de moins de trois mois du Vendeur.</li>
      </ul>

      <p>Le Vendeur signe le certificat d’immatriculation ainsi que la déclaration de cession du véhicule, qui aura été préalablement préparée.</p>

      <p>En contrepartie, le représentant NATIONALE 7 lui remet un bon de prise en charge, emportant pour lui l’entière responsabilité de la garde du véhicule.</p>

      <p>Si le véhicule n’est plus conforme au rapport de l’Expert, ou si le Vendeur ne remet pas l’intégralité des documents listés ci-dessus, ou refuse de signer la déclaration de cession, le représentant NATIONALE 7 ne procède pas à l’enlèvement du véhicule. L’Acheteur sera alors intégralement remboursé de la somme qu’il aura préalablement versé.</p>

      <h3 class="h3-CG"><b>7 – Virement du prix de vente minoré de la commission due</b></h3>

      <p>Lorsque NATIONALE 7 a connaissance de la réalisation complète de la vente, c’est-à-dire une fois que l’Acheteur a payé le prix et signé la déclaration de cession du véhicule, la commission visée à l’article 3 des présentes lui est définitivement due.</p>

      <p>Lorsque le paiement aura été dument encaissé sur le compte de cantonnement LemonWay, NATIONALE 7 verse au Vendeur, à partir dudit compte de cantonnement vers le compte du Vendeur dont il aura préalablement communiqué les coordonnées bancaires, le prix de vente du véhicule tel qu’il a été préalablement fixé, minoré du montant de la commission qui lui est due au titre des prestations effectuées.</p>

      <p>En aucun cas, le versement du prix ne peut intervenir avant la complète réalisation de la vente, c’est-à-dire avant la signature, par l’Acheteur, de la déclaration de cession.</p>

      <h3 class="h3-CG"><b>8 – Retour du véhicule en cas de refus, par l’Acheteur, de réaliser la vente</b></h3>

      <p>En cas de refus, par l’Acheteur, de signer la déclaration de cession du véhicule, NATIONALE 7 organise le retour du véhicule au lieu d’enlèvement, dans les meilleurs délais.</p>

      <p>Le représentant NATIONALE 7 prend contact avec le Vendeur, fixe une date de rendez-vous qui doit impérativement intervenir dans les 5 jours calendaires.</p>

      <p>Le jour du rendez-vous, le représentant NATIONALE 7 restitue au Vendeur le véhicule, les clés et l’intégralité des documents qui lui avaient été confiés. La déclaration de cession est détruite. Le Vendeur doit également signer un bon de restitution du véhicule, ce qui dégage NATIONALE 7 de toute responsabilité de la garde du véhicule.
      <br>
      L’annonce du véhicule mis en vente est alors à nouveau disponible sur le Site.</p>

      <h2 class="h2-CG">Article 7 - Obligation de l'acheteur</h2>

      <p>Tout Utilisateur peut naviguer librement sur le Site et avoir accès aux annonces.</p>

      <h3 class="h3-CG"><b>9 – Réservation du véhicule choisi</b></h3>

      <p>L’Acheteur identifie un véhicule correspondant à ses attentes, et réserve le véhicule de son choix.
      <br>
      Une fois le Véhicule réservé, l’Acheteur emporte pour lui l’obligation de verser à NATIONALE 7 le montant du prix de vente du véhicule par virement sur un compte de cantonnement LemonWay.</p>

      <p>La réception du paiement vaut confirmation de la réservation du véhicule pour l’acheteur.</p>

      <p>Il emporte notamment l’obligation pour NATIONALE 7 de :</p>
      <ul>
        <li>Rendre immédiatement l’annonce indisponible de manière à ce qu’aucun autre Acheteur ne puisse réserver le même véhicule,</li>
        <li>D’organiser le rendez-vous au lieu convenu avec l’Acheteur au cours duquel l’Acheteur pourra, finaliser la vente.</li>
      </ul>

      <p><b>Dès lors que le service vendu par NATIONALE 7 est immédiatement consommé, l’Acheteur déclare expressément renoncer au délai légal de rétractation de 14 jours, le véhicule étant transigé entre deux particuliers consommateurs.</b></p>

      <h3 class="h3-CG"><b>10 – La livraison du véhicule</b></h3>

      <p>L’Acheteur bénéficie de la livraison du véhicule réservé à son domicile ou tout autre lieu convenu dans toute le département de l’Ile-de-France, ou dans un rayon de cinquante (50) kilomètres si la voiture se situe sur le continent français en dehors de l’Ile-de-France. Au-delà de cette zone, la livraison sera facturée en plus.</p>

      <p>Dans le cas où l’Acheteur souhaiterait se déplacer de lui-même essayer le Véhicule, et repartir avec à l’issue de l’essai si l’essai est concluant, la livraison prévue dans le contrat ne s’applique pas, ni le nettoyage, ni le demi-plein d’essence : le mandant repart avec le Véhicule par ses propres moyens.</p>

      <p>Dans le cas où l’Acheteur demande à NATIONALE 7 une livraison qui ne serait pas en Ile-de-France et/ou qui serait supérieur à cinquante (50) kilomètres, l’Acheteur aura pour obligation de verser à NATIONALE 7 :</p>
      <ul>
        <li>La somme de 200€, lorsque le lieu de situation du véhicule et le lieu de livraison se trouve entre cinquante (50) et trois cent (300) kilomètres ;</li>
        <li>La somme de 300€, lorsque le lieu de situation du véhicule et le lieu de livraison se trouve entre trois cent (300) kilomètres et plus.</li>
      </ul>

      <p>La distance de livraison est calculée via l’application Google Maps à partir du trajet le plus rapide en temps en partant du 24 boulevard Saint Denis, 75010 Paris.</p>

      <p>Cette somme demeurera définitivement acquise à NATIONALE 7, si la livraison a bien été effectuée, peu important que la vente ait ou non été finalement réalisée.</p>

      <p>A réception du paiement de cette somme, NATIONALE 7 s’engage à :</p>
      <ul>
        <li>Faire livrer le véhicule au domicile de l’Acheteur,</li>
        <li>Assurer les formalités administratives de la cession du véhicule c’est-à-dire, préparation de la déclaration de cession et collecte du certificat de non-gage. La demande de certificat d’immatriculation au nom de l’Acheteur est un service optionnel (Voir article 11).</li>
      </ul>

      <p>A réception du paiement, l’équipe NATIONALE 7 se charge de prendre rendez-vous avec le Vendeur pour procéder à l’enlèvement de son véhicule.</p>

      <p>Lorsque NATIONALE 7 a connaissance de la date d’enlèvement du véhicule au domicile du Vendeur, elle en informe l’Acheteur, qui, s’il est toujours intéressé par l’achat du véhicule, procède au paiement du prix du véhicule dans les conditions et selon les modalités fixées ci-après, <b>et ce avant la date de livraison prévue.</b></p>

      <p class="car-delivery-terms">a) Prix à payer</p>

      <p>Le prix du par l’Acheteur comprend :</p>
      <ul>
        <li>Le prix de vente du véhicule, tel qu’il est annoncé par NATIONALE 7 sur le Site,</li>
        <li>Les éventuelles prestations optionnelles commandées par l’Acheteur, tel qu’une extension de couverture de la garantie mécanique,</li>
        <li>Le coût de la livraison (sauf si l’Acheteur demande à NATIONALE 7 une livraison qui ne serait pas en Ile-de-France et/ou qui serait supérieur à cinquante (50) kilomètres) voir ci-dessus.</li>
      </ul>

      <p>Les prix indiqués sont fixes et non négociables.</p>

      <p class="car-delivery-terms">b) Modalités de paiement</p>

      <p>Le paiement du prix intervient par virement bancaire avant la livraison.</p>

      <p>Le paiement par virement bancaire s’effectue par l’intermédiaire d’un système sécurisé de paiement sur un compte de cantonnement LemonWay dont les coordonnées sont communiquées à l’Acheteur par NATIONALE 7. NATIONALE 7 se chargera ensuite de transférer le montant dû au Vendeur après la signature, par l’Acheteur, de la déclaration de cession du véhicule.</p>

      <p>Le complet paiement doit intervenir 48h au moins avant la date de livraison du véhicule.</p>

      <p>Le défaut de paiement dans le délai vaut renonciation de l’Acheteur à l’achat du véhicule. L’annonce du véhicule sera de nouveau mise en ligne.</p>

      <p class="car-delivery-terms">c) Livraison du véhicule</p>

      <p>A réception, sur le compte de cantonnement, du paiement du prix du véhicule commandé par l’Acheteur, NATIONALE 7 confirme à l’Acheteur la date à laquelle interviendra la livraison du véhicule.</p>

      <p>Lors de la livraison, l’Acheteur contrôle la conformité du véhicule à l’annonce.</p>

      <p>Accompagné d’un membre de NATIONALE 7, l’Acheteur a la possibilité de faire un essai du véhicule, pour une durée maximale de dix minutes.</p>

      <p class="car-delivery-terms">d) Signature de la déclaration de cession</p>

      <p>Si l’Acheteur estime que le véhicule est conforme à ses attentes, il signe la déclaration de cession.</p>

      <p>NATIONALE 7 lui remet les clés du véhicule ainsi que l’ensemble des documents collectés auprès du Vendeur (le certificat d’immatriculation signé par le Vendeur et l’Acheteur, la déclaration de cession, le certificat de non-gage, le justificatif du dernier contrôle technique (le cas échéant) et carnet d’entretien du véhicule, ainsi que la GARANTIE PANNE MECANIQUE SECURITE WEB (gratuite) ou ELITE (payante) souscrite par l’Acheteur auprès de l’assureur partenaire de NATIONALE 7 (voir article 11).</p>

      <p>La garantie souscrite commence à courir le jour de la signature de la déclaration de cession.</p>

      <p><b>La vente devient définitive à la signature de la déclaration de cession du véhicule. L’Acheteur se reconnait ainsi propriétaire du véhicule acquis.</b></p>

      <p><b>La vente étant conclue entre deux consommateurs, NATIONALE 7 n’étant qu’un simple intermédiaire, l’Acheteur reconnait expressément ne pas bénéficier de droit de rétractation pour l’achat du véhicule.</b></p>

      <p class="car-delivery-terms">e) Refus de signer la déclaration de cession et remboursement du prix de vente du véhicule</p>

      <p>Lors de la livraison du véhicule, si l’Acheteur estime que le véhicule n’est pas conforme à ses attentes, il est libre de refuser de signer la déclaration de cession du véhicule.</p>

      <p>La vente est alors caduque. NATIONALE 7 pourra rendre le véhicule à nouveau disponible sur le Site.</p>

      <p>Dans les plus brefs délais, NATIONALE 7 s’engage à restituer à l’Acheteur le montant de la somme qu’il aura versée au titre du paiement du prix du véhicule et de la garantie mécanique, le cas échéant, étant rappelé que la somme versée au titre de la livraison du véhicule demeure acquise à NATIONALE 7.</p>

      <h2 class="h2-CG">Article 8 - Les conditions communes aux acheteurs</h2>

      <h3 class="h3-CG"><b>11 – Prestations complémentaires et optionnelles</b></h3>

      <p>Les garanties mécaniques sont assurées par MAPFRE ASSISTANCE et son courtier en France, MAPFRE INSURANCES SERVICES, n°ORIAS 07 003 772, dans les conditions et selon les modalités définies ci-après.</p>

      <p class="car-delivery-terms">a) Pour toute commande et vente réalisées par l’intermédiaire du Site, NATIONALE 7 offre gratuitement à l’Acheteur une garantie mécanique de six (6) mois, la « GARANTIE PANNE MECANIQUE SECURITE WEB » d’une valeur de 192€ TTC, qui prend effet le jour de la signature de la déclaration de cession.</p>

      <p class="car-delivery-terms">b) L’Acheteur peut choisir de souscrire une garantie plus étendue d’une durée de douze (12) mois la « GARANTIE PANNE MECANIQUE SECURITE WEB » ou « ELITE WEB ».</p>

      <p>Le contrat d’assurance entre en vigueur au jour de sa signature, qui doit intervenir le jour de la signature de la déclaration de cession du véhicule.</p>

      <p>Les conditions générales et particulières des GARANTIES PANNES MECANIQUES WEB et ELITE assurées par MAPFRE INSURANCES SERVICES sont accessibles sur simple demande.</p>

      <h2 class="h2-CG">Article 9 - A tous les utilisateurs</h2>

      <h3 class="h3-CG"><b>12 – Responsabilités et Garanties</b></h3>

      <p>NATIONALE 7 s’engage à administrer le Site et à fournir ses services avec professionnalisme et diligence et à tout mettre en œuvre afin de remédier à tout dysfonctionnement porté à sa connaissance.</p>

      <p><b>Dans le cadre de l’exécution des services précédemment décrits, les Utilisateurs reconnaissent que le seul rôle de NATIONALE 7 est d’assurer l’intermédiation entre les utilisateurs. A ce titre, NATIONALE 7 n’est en aucun cas revendeur des véhicules mis en vente sur son Site, et n’acquiert, à aucun moment, la propriété desdits véhicules.</b></p>

      <p>NATIONALE 7 ne peut garantir au Vendeur que son véhicule sera vendu sur le Site, et qu’il satisfera les exigences de l’Acheteur.</p>

      <p>La responsabilité de NATIONALE 7 ne pourra pas être recherchée en cas de :</p>
        <ul>
          <li>Faute, négligence, omission ou défaillance imputable aux Utilisateurs ou aux prestataires et/ou sous-traitants de NATIONALE 7 qui interviendrait dans le processus de vente ;</li>
          <li>Force majeure.</li>
        </ul>

      <p>Les véhicules restent la propriété du Vendeur jusqu’à la signature, par l’Acheteur, de la déclaration de cession du véhicule.</p>

      <p>Le Vendeur est donc seul responsable du véhicule qu’il vend. Il garantit NATIONALE 7 de toutes les conséquences directes d’une action qui trouverait sa source dans les renseignements ou documents qu’il transmet à NATIONALE 7 et qui concerne le véhicule à vendre, ou dans l’expertise réalisée par l’Expert et commandée par le Vendeur.</p>

      <p>NATIONALE 7, qui n’acquiert à aucun moment la propriété des véhicules mise en vente, ne pourra en conséquence voir sa responsabilité engagée au titre du caractère défectueux des véhicules vendus pour le compte des Utilisateurs, ou des vices cachés dont ils pourraient être entachés.</p>

      <p>Le Vendeur garantit NATIONALE 7 qu’il est habilité à vendre son véhicule au travers du Site.</p>

      <p>Les véhicules vendus par les Vendeurs bénéficient de plein droit, conformément aux dispositions légales de la garantie légale de conformité et de la garantie légale contre les vices cachés.</p>

      <p>La responsabilité du prestataire ne peut être engagée qu’en cas de faute ou de négligence prouvée et est limitée aux préjudices directs à l’exclusion de tout préjudice indirect, de quelque nature que ce soit.</p>

      <p>Sans préjudice des dispositions prévues au présent article, si NATIONALE 7 est tenue responsable par la juridiction compétente envers un Utilisateur ou un tiers, la responsabilité de NATIONALE 7 ne pourra excéder le montant total de la commission que l’Utilisateur lui aura versé.</p>

      <h3 class="h3-CG"><b>13 – Délai de rétractation – renonciation</b></h3>

      <p><b>Conformément aux dispositions du Code de la consommation, compte tenu de la nature des prestations fournies par NATIONALE 7 qui débutent immédiatement, il est entendu que les Utilisateurs renoncent expressément à leur droit de rétractation de 14 jours dont ils pourraient bénéficier à l’égard de NATIONALE 7.</b></p>

      <p><b>Les Utilisateurs reconnaissent qu’ils ne bénéficient d’aucun délai de rétractation s’agissant de la vente du véhicule, cette dernière n’intervenant qu’entre particuliers.</b></p>

      <h3 class="h3-CG"><b>14 – Utilisation du site</b></h3>

      <h3 class="h3-CG car-delivery-terms"><b>14.1 – Accès au site</b></h3>

      <p>L’accès et l’utilisation du Site emporte l’acceptation sans réserve par les Utilisateurs des conditions et prévisions du présent article.</p>

      <p>NATIONALE 7 ne peut garantir de manière absolue l’accès permanent au Site, 24h/24 et 7 jours/7, et ne saurait être responsable de l’inaccessibilité du Site qui interviendrait suite à des ruptures et interruptions techniques, ou pour d’autres raisons, telles que des interventions de maintenance et/ou de mises à jour.</p>

      <p>En conséquence, la responsabilité de NATIONALE 7 ne saurait être engagée en cas d’impossibilité, pour les Utilisateurs, d’accéder au Site ou d’utiliser les services.</p>

      <p>Lorsque le Site est inaccessible, les délais visés dans les présentes conditions générales sont prorogés.</p>

      <h3 class="h3-CG car-delivery-terms"><b>14.2 – Propriété intellectuelle</b></h3>

      <p>NATIONALE 7 est titulaire exclusif, directement ou indirectement, des éléments de propriété intellectuelle grevant le Site et notamment de la marque « NATIONALE 7 », enregistrée à l’INPI, ainsi que du nom de domaine www.nationale7.co.</p>

      <p>Aussi, les Utilisateurs s’interdisent de reproduire toute annonce de mise en vente de véhicule, mise en ligne par NATIONALE 7 à la demande d’un Vendeur, sur un autre site internet, sauf autorisation préalable écrite de NATIONALE 7.</p>

      <h3 class="h3-CG car-delivery-terms"><b>14.3 – Données à caractère personnel</b></h3>

      <p>Les Utilisateurs sont seuls responsables des données qu’ils communiquent à NATIONALE 7.</p>

      <p>NATIONALE 7 s’engage à préserver la confidentialité des informations fournies par les utilisateurs du Site.</p>

      <p>Les données recueillies par NATIONALE 7 sont nécessaires à l’exécution des prestations de services fournies par NATIONALE 7.</p>

      <p>Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée en 2004, les données personnelles collectées par NATIONALE 7 ont fait l’objet d’une déclaration auprès de la CNIL.</p>

      <p>Les Utilisateurs disposent, conformément à la loi précitée, d’un droit d’accès, de rectification, de modification, de suppression et d’opposition sur les données les concernant. Ce droit peut être exercé en contactant NATIONALE 7 par courriel bonjour@nationale7.co </p>

      <h3 class="h3-CG car-delivery-terms"><b>14.4 – Convention de preuve</b></h3>

      <p>Les communications effectuées par le biais de courrier électronique ainsi qu’au travers du Site sont des modes de communication valablement admis à titre de preuve par NATIONALE 7 comme par les Utilisateurs.</p>

      <p>Toutes les informations enregistrées dans les bases de données informatiques de NATIONALE 7 ont, jusqu'à preuve du contraire, la même force probante qu'un écrit signé sur un support papier, tant en ce qui concerne leur contenu qu'en ce qui concerne la date et l'heure à laquelle ils ont été effectués et/ou reçus. Ces traces inaltérables, sûres et fiables sont gravées et conservées dans les systèmes informatiques de NATIONALE 7.</p>

      <p>Les documents de NATIONALE 7 reproduisant ces informations, ainsi que les copies ou reproductions de documents produits par NATIONALE 7 ont la même force probante que l'original, jusqu'à preuve du contraire.</p>

      <h3 class="h3-CG"><b>15 – Dispositions diverses</b></h3>

      <p>Les présentes conditions générales seront applicables dès leur mise en ligne. </p>

      <h3 class="h3-CG car-delivery-terms"><b>15.1 – Modification des conditions générales</b></h3>

      <p>NATIONALE 7 conserve la possibilité de modifier les présentes conditions générales.</p>

      <p>La version applicable est celle en vigueur au jour de l’utilisation du Site par l’Utilisateur, qui devra les accepter à chaque utilisation.</p>

      <h3 class="h3-CG car-delivery-terms"><b>15.2 – Indépendance des clauses</b></h3>

      <p>La caducité d’une des clauses contenues dans les présentes n’affecte pas la validité des autres clauses.</p>

      <h3 class="h3-CG car-delivery-terms"><b>15.3 – Droit Applicable et juridiction</b></h3>

      <p>Les présentes Conditions Générales sont régies par le droit français.
      <br>
      Les équipes de NATIONALE 7 sont à la disposition des Utilisateurs des Services pour toute réclamation et mettront tout en œuvre pour y répondre. Les Utilisateurs des Services et NATIONALE 7 s’engagent à rechercher une solution amiable à tout différend qui pourrait naitre des Services et des Conditions Générales.
      <br>
      Si elles n’y parviennent pas, les parties soumettront le litige <b>au tribunal de commerce de Paris ou de Nantes pour les Utilisateurs des Services professionnels</b> et aux juridictions nationales compétentes dans les autres cas.</p>

      <h3 class="h3-CG car-delivery-terms signature-CG"><b>A Paris, le 24 mai 2016</b></h3>

    </div>
  </div>
</div>