<%= image_tag("main-img-narrow.jpg", class:'main-img' ) %>
<div id="background-container-contact">

  <div id="main-container-contact">

    <div id="contact-phone-contact">
      <h2 class="contact-title-contact">Appelez-nous !</h2>
      <p id="call-us-content">Nous sommes à votre disposition tout les jours de 9h à 20h !</p>
      <p class="contact-details"><a href="tel:0176390284">01 76 39 02 84</a></p>    
    </div>

    <div id="contact-mail-contact">
      <h2 id="contact-title-email">Ou bien écrivez-nous !</h2>
      <p id="contact-email-details"><a href="mailto:bonjour@nationale7.co">bonjour@nationale7.co</a></p>    
    </div>

  </div>

</div>

