<%= image_tag("main-img-narrow.jpg", class:'main-img' ) %>

<div id="background-container-FAQ">

<div id="main-container-FAQ">

  <div id="FAQ-container-1">
    <h1 id="foirequestions">Foire aux questions</h1>
    <p id="foirereponses">Foire aux réponses !</p>
  </div>

  <div id="question-n7">
    <h3>Qu'est-ce que Nationale 7 ?</h3>
    <p class="p-FAQ">Nationale 7 est le service dont vous rêviez pour votre voiture d'occasion. Notre objectif est de vous simplifier à l'extrême la vente et l'achat entre particuliers.</p>
    <p class="p-FAQ">Nationale 7 agit comme tiers de confiance et permet aux vendeurs et acheteurs d'interagir dans un environnement simple et à la fois sécurisé. Chacune de nos voitures passe une inspection rigoureuse de 75 points complétée par un expert agréé.</p>
    <p class="p-FAQ">Nous nous occupons de toutes les étapes importantes: pré-sélectionner, expertiser, certifier, photographier puis livrer et transiger la voiture. Toutefois nous ne sommes pas un concessionnaire traditionnel: pas de stocks ni de showroom coûteux, un système qui offre des économies à la fois aux acheteurs et aux vendeurs.</p>
  </div>

  <div id="vendre-container">
    
  </div>

  <div id="acheter-container">
    
  </div>

</div>

</div>