<%= image_tag("main-img-narrow.jpg", class:'main-img-desktop' ) %>

<div id="background-container-FAQ">

<div class="main-container-FAQ">

  <div id="FAQ-container-1">
    <h1 id="foirequestions">Foire aux questions</h1>
    <p id="foirereponses">Foire aux réponses !</p>
  </div>

  <div id="question-n7">
    <h3 class="question-n7-title">Qu'est-ce que Nationale 7 ?</h3>
    <p class="p-FAQ">Nationale 7 est le service dont vous rêviez pour votre voiture d'occasion. Notre objectif est de vous simplifier à l'extrême la vente et l'achat entre particuliers.</p>
    <p class="p-FAQ">Nationale 7 agit comme tiers de confiance et permet aux vendeurs et acheteurs d'interagir dans un environnement simple et à la fois sécurisé. Chacune de nos voitures passe une inspection rigoureuse de 75 points complétée par un expert agréé.</p>
    <p class="p-FAQ">Nous nous occupons de toutes les étapes importantes: pré-sélectionner, expertiser, certifier, photographier puis livrer et transiger la voiture. Toutefois nous ne sommes pas un concessionnaire traditionnel: pas de stocks ni de showroom coûteux, un système qui offre des économies à la fois aux acheteurs et aux vendeurs.</p>
  </div>

  <div class="vendre-container">

  <h3>Côté vendeur</h3>

    <ul class="vertical menu FAQ-menu" data-accordion-menu>
      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">1) Que se passe-t-il une fois que ma voiture passe l’inspection ?</a>
        <ul class="menu vertical nested menu-FAQ">

          <p class="body-FAQ">Votre voiture passe l’inspection avec succès une fois que l’expert a validé son bon état de fonctionnement, elle est alors irréprochable et peut répondre aux questions des acheteurs les plus minutieux.</p>

          <p class="body-FAQ">La première étape est de valider avec vous le prix final, basé sur les observations de l’expert. Nous ne prenons aucune décision sans votre accord, vous restez en contrôle de la transaction en tout temps !</p>

          <p class="body-FAQ">Nous aurons ensuite besoin que vous nous transmettiez, par télécopie ou courrier électronique, une copie des documents suivants :</p>
          <ul id="body-FAQ-ul">
            <li class="body-FAQ">Certificat d’immatriculation (carte-grise) ;</li>
            <li class="body-FAQ">Carte d’identité du Vendeur (recto verso) ;</li>
            <li class="body-FAQ">Justificatif de domicile de moins de trois mois ;</li>
            <li class="body-FAQ">Justificatif du dernier contrôle technique datant de moins de 4 mois, pour les véhicules de plus de 4 ans.</li>
          </ul>
          <p class="body-FAQ"> Il est entendu que ces dernières données ne seront pas visibles sur aucun site et sont seulement destinées à la vérification par Nationale 7 de la propriété du véhicule, à l’obtention du certificat de non-gage et à la préparation de la déclaration de cession lors de la vente.</p>

          <p class="body-FAQ">Félicitations ! Votre voiture est certifiée Nationale 7, prête à rouler vers de nouveaux horizons ! </p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">2) Quels sont les frais prélevés par Nationale 7 ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Nos frais s'élèvent 5% du prix de vente, avec une commission minimum de 600€. Ceci vous permet d'obtenir jusqu'à 25% de plus pour votre voiture par rapport à un concessionnaire. Encore plus de budget pour la caravane (enfin, vous faites ce que vous voulez).</p>

          <p class="body-FAQ">Notre commission réduite vous apporte un service ultra complet, nous nous occupons de : présélectionner, expertiser, certifier, photographier puis livrer et transiger la voiture. Rien que ça.</p>

          <p class="body-FAQ">Avec Nationale 7 on vous enlève tous les soucis et pertes de temps. Vendre et acheter sa voiture d'occasion devient enfin un plaisir !</p>
        </ul>
      </li> 
    
      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">3) Est-ce que je peux vendre ma voiture ailleurs quand elle est avec Nationale 7?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Lorsque vous nous confiez votre titine et que vous acceptez les conditions du mandat de vente, nous nous occupons de la vendre dans les 5 semaines.

          <p class="body-FAQ">C’est-à-dire que durant 5 semaines vous nous laissez le soin de la mise en ligne de l’annonce sur les plus grandes plateformes de vente : Le Bon Coin, L’Argus, La Centrale et ParuVendu.</p>

          <p class="body-FAQ">A l’issue des 5 semaines, vous pouvez nous demander de retirer l’annonce, ou de la maintenir. Comptez sur nous pour faire un suivi soigneux avec vous.</p>

          <p class="body-FAQ">D’autre part, vous pouvez continuer à commercialiser la voiture de votre côté ; si vous la vendez sans utiliser les services de Nationale 7 dans les 5 semaines, nous demanderons une compensation de 300€, correspondant à une partie des frais engagés dans l’inspection, la mise en valeur du véhicule et la recherche d’acheteurs potentiels.</p>

          <p class="body-FAQ">La compensation s’applique également si vous décidez d’annuler la vente avant la fin du mandat de 5 semaines. On est vraiment déterminés à vendre votre voiture !</p>

          <p class="body-FAQ">Pour toute question concernant ces points ou autre, n’hésitez pas à nous appeler : 01 76 39 02 84 !</p>
        </ul>
      </li> 

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">4) Comment définissez-vous le prix de ma voiture ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Nous procédons à une analyse rigoureuse de tous les paramètres de votre voiture, ainsi que des tendances de marché au moment de la vente, ceci en partenariat avec Autovista, leader européen de la cotation de véhicules. Ce qui nous permet d’obtenir le montant exact de la valeur de titine.</p> 

          <p class="body-FAQ">Le prix final est validé avec les résultats de l’expertise ce qui rendra le montant indiscutable et non négociable auprès des acheteurs sérieux.
          Nous ne prenons bien sur aucune décision sans votre accord.</p>
        </ul>
      </li> 

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">5) Comment se déroule l’expertise ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">L’expertise et la prise de photos peuvent se dérouler dans les 72 heures à partir de l’instant où vous décidez de mettre votre voiture en vente. Quoi qu’il arrive cela a lieu quand vous voulez, où vous voulez, vous décidez.</p>

          <p class="body-FAQ">L’expert procède au contrôle de 75 points sur la carrosserie, l’intérieur, la mécanique et le chassis. Il vérifie également l’historique, entretien et effectue un test de conduite. Titine n’aura plus de secret pour nous.</p>

          <p class="body-FAQ">Les vérifications durent 1 heure et comptez 20 minutes supplémentaires pour la séance photo qui sera faite dans la foulée par un représentant Nationale 7. 
          Rassurez-vous seule la voiture a besoin de prendre la pose :-)</p> 
        </ul>
      </li> 

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">6) Dois-je être présent lors de l’expertise ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Vous ou quelqu’un de votre choix doit obligatoirement assister au début de l’expertise. La première étape est de présenter les éléments suivants :</p>
          <ul id="body-FAQ-ul">
            <li class="body-FAQ">Carnet d’entretien ;</li>
            <li class="body-FAQ">Facture d’achat, le cas échéant ;</li>
            <li class="body-FAQ">Factures d’entretiens, le cas échéant ;</li>
            <li class="body-FAQ">Certificat d’immatriculation ;</li>
            <li class="body-FAQ">Carte d’identité du propriétaire ;</li>
            <li class="body-FAQ">Procès-verbal de contrôle technique (pour les véhicules de plus de quatre ans, seulement) ;</li>
            <li class="body-FAQ">Manuel d’utilisation ;</li>
            <li class="body-FAQ">Les clés et le double des clés.</li>
          </ul>
          <p class="body-FAQ">Une fois ces éléments présentés vous serez libres de vaquer à vos occupations préférées. Pétanque ou Games of Thrones : qui sommes-nous pour juger !?</p>
        </ul>
      </li> 

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">7) Qui sont vos experts ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Notre partenaire Experveo, filiale de BCA Expertise, est un leader du domaine. Avec un réseau de 600 experts agréés par le Ministère de l'Intérieur, ils peuvent intervenir chez vous en moins de 72h. Ils sont très forts.</p>
        </ul>
      </li> 

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">8) Qui gère les rendez-vous avec les acheteurs potentiels ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Le but de notre service : que vous ne vous occupiez de rien !</p>
          <p class="body-FAQ">Gérer les appels, répondre aux questions des acheteurs potentiels : vous n’avez pas à lever un petit doigt, nous nous occupons de tout ! Continuez à conduire le temps que nous trouvions un acheteur, aucuns frais à prévoir de votre côté.</p>
        </ul>
      </li> 

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">9) Que se passe-t-il lorsqu'un acheteur sérieux se manifeste ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">C’est l’heure de dire au-revoir !</p>
          <p class="body-FAQ">Dès qu’un acheteur se manifeste nous vous contactons pour planifier l’enlèvement de la voiture depuis le lieu de votre choix. En prime nous lui refaisons une petite beauté avant de la livrer chez l’acheteur.</p>
          <p class="body-FAQ">Nous nous occupons bien sûr de gérer le paiement, vous gardez le contrôle de votre voiture tant que le transfert final n’est pas sécurisé. Nos partenaires Lemonway et BNP Paribas travaillent avec nous pour vous garantir une complète tranquillité d’esprit.</p>
        </ul>
      </li> 

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">10) Comment se passe la livraison ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">L’acheteur bénéficie de la livraison du véhicule gratuite à son domicile ou tout autre lieu convenu dans le département de l’Ile-de-France ou dans un rayon de 50 kilomètres.</p>
          <p class="body-FAQ">Si l’acheteur demande à Nationale 7 une livraison qui ne serait pas en Ile-de-France, nous calculons la distance à parcourir et proposons le barème suivant :</p>
          <ul id="body-FAQ-ul">
            <li class="body-FAQ">La somme de 200€ : lorsque le lieu de situation du véhicule et le lieu de livraison se trouvent entre 50 et 300 kilomètres.</li>
            <li class="body-FAQ">La somme de 300€, lorsque le lieu de situation du véhicule et le lieu de livraison se trouvent entre 300 kilomètres et plus.</li>
          </ul>
          <p class="body-FAQ">Avec Nationale 7 votre voiture peut donc intéresser des acheteurs à travers la France !</p>
        </ul>
      </li> 

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">11) Que se passe-t-il si l'acheteur ne souhaite pas acheter la voiture ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Il arrive que l’acheteur ait un doute au moment de l’essai, dans ce cas nous ramènerons la voiture chez vous sans aucun frais à débourser de votre part. Le prépaiement du prix de vente sera alors remboursé sur le compte de l’acheteur.</p>
          <p class="body-FAQ">Notre philosophie est d’offrir un service sans aucune pression d’achat. Promis, un autre acheteur ne sera pas loin.</p>
        </ul>
      </li> 

      <li id="last-question-container-FAQ">
        <a href="#" class="question-FAQ">12) Comment gérez-vous le paiement ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">C’est une excellente question, là aussi nous avons cherché à vous simplifier la vie avec un paiement simple et sécurisé. Tout s'effectue par virement électronique.</p>
          <p class="body-FAQ">Lorsque l’acheteur demande la livraison nous réceptionnons le montant du prix de vente sur un compte séquestre, la voiture ne part pas de chez vous tant que nous n’avons pas sécurisé les fonds.</p>
          <p class="body-FAQ">Au moment de finaliser la transaction le montant est versé sur votre compte. Dans le cas où l’acheteur n’a pas le coup de cœur, nous procédons au remboursement immédiat de son virement.</p>
          <p class="body-FAQ">Nous travaillons avec Lemon Way et BNP Paribas pour vous garantir une complète tranquillité d’esprit. Adieu les arnaques, tchao les escrocs !</p> 
        </ul>
      </li> 
    </ul>
  </div>

  <div class="acheter-container">

  <h3>Côté acheteur</h3>
    <ul class="vertical menu" data-accordion-menu>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">1) Êtes-vous un concessionnaire ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Non, nous ne sommes pas un concessionnaire ou garagiste, Nationale 7 est un service visant à faciliter la transaction entre particuliers.</p> 
          <p class="body-FAQ">La transparence est ce qu’il y a de plus important pour nous. Vous connaissez absolument tout des voitures que nous proposons à la vente grâce au rapport d’expert et aux nombreuses photos prises par Nationale 7.</p>
          <p class="body-FAQ">Nous ne prenons pas possession des voitures. Elles restent chez leurs vendeurs pendant la vente, nous n’avons donc aucun stock, pas de showrooms coûteux, ni fioritures, ce qui permet aux vendeurs et aux acheteurs d’empocher plus d’argent lors de la transaction.</p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">2) J'ai moi-même une titine à vendre, vous me faites un deal ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Avec plaisir ! Si vous décidez de vendre votre voiture par Nationale 7 nous sommes heureux de vous faire une offre que vous ne pourrez pas refuser.</p>
          <p class="body-FAQ">Appelez-nous au 01 76 39 02 84 pour en discuter !</p>
        </ul>
      </li>


      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">3) Je veux voir une de vos voitures, comment ça se passe ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Félicitations vous venez de prendre la bonne décision. Pour acheter la voiture de vos rêves il suffit de nous contacter pour planifier la livraison à l’endroit de votre choix.</p>
          <p class="body-FAQ">Nous demandons ensuite le virement du montant du prix de vente de la voiture vers notre compte séquestre. Rassurez-vous si la voiture ne vous plaît pas, si vous n’avez pas le coup de cœur : nous vous remboursons immédiatement 100% de la somme versée.</p>
          <p class="body-FAQ">Vous restez en contrôle de votre achat en tout temps. Nos représentants Nationale 7 sont à votre disposition pour l’essai sans aucune pression d’achat, jamais.</p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">4) Est-ce que je peux faire un essai ? Est-ce que je peux changer d'avis une fois qu'elle arrive chez moi ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Bien évidemment ! Si vous n’avez pas le coup de cœur au moment de l’essai vous êtes intégralement remboursé du prix de vente, sans aucune question et nous reconduisons la voiture chez le vendeur.</p>
          <p class="body-FAQ">L’important pour nous, est que vous preniez la bonne décision, pour vous, toujours.</p>

        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">5) Comment se passe la livraison ? Combien ça coûte ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">La livraison s’effectue selon vos préférences, nous pouvons vous apporter la voiture où vous voulez, quand vous voulez.
          <p class="body-FAQ">Vous bénéficiez de la livraison gratuite du véhicule à votre domicile ou tout autre lieu convenu dans le département de l’Ile-de-France ou dans un rayon de 50 kilomètres autour de Paris. 
          <p class="body-FAQ">Si vous souhaitez une livraison en dehors de l’Ile-de-France, nous calculons la distance à parcourir et proposons le barème suivant :
          <ul id="body-FAQ-ul">
            <li class="body-FAQ">La somme de 200€ : lorsque le lieu de situation du véhicule et le lieu de livraison se trouvent entre 50 et 300 kilomètres.</li>
            <li class="body-FAQ">La somme de 300€, lorsque le lieu de situation du véhicule et le lieu de livraison se trouvent entre 300 kilomètres et plus.</li>
          </ul>
          <p class="body-FAQ">Nationale 7 propose donc de livrer votre voiture de rêve partout en France. N’hésitez pas à nous appeler au 01 76 39 02 84 pour en parler en détail.</p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">6) Je refuse la livraison, je veux me déplacer en personne chez le vendeur. Est-ce possible ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Décidémment vous savez ce que vous voulez, mais vos désirs sont des ordres. Cela nous fera plaisir de planifier la rencontre chez le vendeur. Toutefois nos frais de commission de 5% restent non négociables, l’absence de livraison ne vous permettra pas d’obtenir une réduction. Scusi.</p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">7) Qui va venir livrer la voiture ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">La livraison de la voiture sera faite par un représentant Nationale 7, nous nous déplaçons nous-mêmes jusque chez vous.</p>
          <p class="body-FAQ">Et même si vous n’avez pas le coup de cœur, on vous parie que vous passerez un bon moment en notre compagnie.</p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">8) Comment vérifiez-vous l'historique de la voiture ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">L’historique de la voiture est vérifié par notre expert agréé par le Ministère de l’Intérieur qui procède à un contrôle minutieux de tous les points.</p>
          <p class="body-FAQ">L’historique des documents est retracé grâce via des bases de données nationales, aucun doute permis. S’il y avait eu l’ombre d’un doute la voiture ne serait pas en vente par Nationale 7. Aussi simple que ça.</p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">9) Est-ce que la voiture a été accidentée ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Non, les vérifications de l’expert permettent de valider que la voiture n’a jamais subi de dommage sérieux. En cas de doute elle ne serait pas mise en vente par Nationale 7.</p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">10) Est-ce que le prix est négociable ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Pour déterminer le prix de vente de nos voitures nous procédons à une analyse rigoureuse de tous les paramètres, ainsi que des tendances de marché au moment de la vente, ceci en partenariat avec Autovista, leader européen de la cotation de véhicules. Ce qui nous permet d’obtenir le montant exact de la valeur de titine.</p>
          <p class="body-FAQ">Le prix final est validé avec les résultats de l’expertise ce qui rendra le montant indiscutable et non négociable auprès des acheteurs sérieux.</p>
          <p class="body-FAQ">Scusi le prix n’est pas négociable :-)</p>
        </ul>
      </li>

      <li class="question-container-FAQ">
        <a href="#" class="question-FAQ">11) Quels moyens de paiement sont à ma disposition ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Nous avons cherché à vous simplifier la vie au maximum avec un paiement simple et sécurisé. Tout s'effectue par virement bancaire électronique pour éviter le risque de fraude.</p>
          <p class="body-FAQ">Nos vendeurs et acheteurs interagissent dans un milieu sécurisé.</p>
        </ul>
      </li>
      
      <li id="last-question-container-FAQ">
        <a href="#" class="question-FAQ">12) Comment sécurisez-vous le paiement ?</a>
        <ul class="menu vertical nested menu-FAQ">
          <p class="body-FAQ">Nous travaillons avec Lemonway et BNP Paribas pour vous offrir une complète tranquillité d’esprit. Chaque transfert de fonds s’effectue via un compte séquestre afin de garantir leur validité à chaque étape de la transaction.</p>
          <p class="body-FAQ">Adieu les arnaques, tchao les escrocs !</p>
        </ul>
      </li>
    </ul>      
  </div>

    <div class="contact-phone-FAQ">
      <h2 class="contact-title-FAQ">Félicitations, vous êtes arrivés au bout la liste !</h2>
      <p id="call-us-FAQ">Il ne reste plus qu'à nous appeler</p>
      <p class="contact-details"><a href="tel:0176390284">01 76 39 02 84</a></p>    
    </div>

</div>

</div>