
<%= image_tag("photo-route.jpg", width: '100%' ) %>


<div id="question-wrapper">

  <div id="questions">
  <ul>
    <li>Avez-vous du plaisir à vendre votre voiture ?</li>
    <li>Etes-vous sûr du prix demandé ?</li>
  </ul>
    <div id="finale"><p>Et si on s'en occupait pour vous ?</p></div>
  </div>

</div>

<div id="presentation">
  <p>Nous avons imaginé un service pour vous simplifier à l'extrême la vente et l'achat de votre voiture d'occasion. Nationale 7 s'occupe de tout et vous assure de faire la meilleure transaction possible.</p>
</div>

<div id="launch">
  Lancement très prochainement !
</div>

<div id="email">
bonjour@nationale7.co
</div>
