

<main>

  <%= image_tag("homepage-photo-cropped.jpg", class:'main-img' ) %>

  <div id="container-1">

    <div id="main-tagline">
      Voitures d'occasion expertisées et garanties entre particuliers, soigneusement préparées et amoureusement livrées.
    </div>

  </div>

  <div id="container-2">
    <p>Nous avons imaginé un service pour vous simplifier à l'extrême la vente et l'achat de votre voiture d'occasion. Nationale 7 s'occupe de tout et vous assure de faire la meilleure transaction possible.</p>
  </div>

  <div id="home-CTA">
    <div id="launch">
      Lancement très prochainement !
    </div>

    <div id="email">
    Pour des encouragements: &nbsp <b>bonjour@nationale7.co</b>
    </div>
  </div>

</main>