<%= image_tag("main-img-narrow.jpg", class:'main-img' ) %>
<div class="background-container-ML">

  <div class="main-container-ML">

    <h1 class="title-ML">Mentions légales</h1>
    <p class="tagline-ML">Parce qu'on ne rigole pas avec ça</p>


    <div class="copy-ML">
      
    <p>Le site internet <a href="http://www.nationale7.co/" target="_blank"> www.nationale7.co</a> est édité par la SAS Nationale 7 au capital de 1 000 euros, 48, rue du Transvaal, 44300, Nantes – téléphone <a href="tel:0176390284">01 76 39 02 84</a> – immatriculée au Registre du Commerce et des Sociétés de Nantes sous le numéro 820 295 558.</p>

    <p>Le numéro de TVA intracommunautaire de la SAS est FR 81 820295558.</p>
    
    <p>Le responsable de la publication est M. Gaël BERGERON.</p>

    <p>L’hébergement du site internet <a href="http://www.nationale7.co/" target="_blank">www.nationale7.co</a> est assuré par la société Heroku, Inc. dont le siège social est au 650 7th Street San Francisco, CA 94103. Contact: <a href= "https://www.heroku.com/contact" target="_blank">heroku.com/contact</a>. La société Heroku dispose de Data-Centers hautement sécurisés situés en Europe, offrant d’importantes garanties de sécurité et respecte la législation européenne concernant les données personnelles. Pour en savoir plus sur la sécurité mise en œuvre : <a href="https://www.heroku.com/policy/security" target="_blank">heroku.com/policy/security</a></p>

    <p>Une assistance à l’utilisation du site internet <a href="http://www.nationale7.co/" target="_blank">www.nationale7.co</a> et des services offerts par Nationale 7 est accessible :</p>
    <ul>
      <li>Par email en écrivant à <a href="mailto:bonjour@nationale7.co">bonjour@nationale7.co</a></li>
      <li>Par téléphone en appelant au <a href="tel:0176390284">01 76 39 02 84</a>.</li>
    </ul>

    </div>


  </div>

</div>
