<%= image_tag("main-img-narrow.jpg", class:'main-img' ) %>
<div id="background-container-QSN">

<div class="main-container-QSN">
    <h1 class="manifesto">Parce que c'est un peu plus qu'une voiture.</h1>
  <div id="QSN-container-1">
    <p class="p-QSN paragraph-start">Que vous ayez tout vécu avec, ou que vous soyez sur le point de la découvrir.</p>
    <p class="p-QSN">Pensez à tous ces moments inoubliables, ces flirts, ces coups de klaxon, ces moments trop cools, ces courbes parfaitement maîtrisées, ces crevaisons, ces kilomètres.</p>
    <p class="p-QSN">Tout autant de raisons d’acheter ou de vendre votre voiture avec soin et auprès de professionnels. Parce que c’est difficile d’imaginer les choses autrement.</p>

    <p class="p-QSN paragraph-start">Notre mission, chez Nationale 7 c’est de vous permettre d’acheter ou de vendre votre voiture en toute sérénité. Grâce à nos experts amoureux des voitures et toujours enthousiastes, notre offre de livraison et notre système de garantie, vous l’achetez ou la vendez au bon prix, en bon état et elle vous est livrée jusque chez vous. C’est exactement ce dont vous aviez besoin, parce qu’on n’est jamais trop prudent.</p>

    <p class="p-QSN paragraph-start" >La passion des voitures et la conviction que le marché de l’occasion se doit d’être transparent nous ont poussés à entreprendre.</p>
    <p class="p-QSN">Depuis, notre équipe met chaque jour tous ses efforts et son expertise pour vous apporter un service de qualité et personnalisé aussi bien quand vous cherchez à vendre votre fidèle auto que quand vous partez en quête de la voiture de vos rêves.</p>
    <p class="p-QSN">Vous pouvez vous y mettre le cœur léger, comme lors d’un départ en vacances.</p>

    <div id="signature-N7"><strong><i>Emmanuel et Gael, fondateurs Nationale 7</strong></i></div>

    <%= image_tag("emmanuel-rond.png", class:'team-img' ) %>
    <%= image_tag("gael-rond.png", class:'team-img' ) %>

  </div>

</div>