header {
  height: 6em;
}

.menu {
  padding-top: 0.8em;
  font-size: 1.3em;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  text-decoration: none;
  color: black;
}

.menu-link:visited {
  text-decoration: none;
  color: black;
}

#logo {
  font-size: 48px;
  float: left;
  width: 6em;
  margin-left: 0.3em;
}


.title-bar {
  justify-content: center;
  display: flex;
}

.top-bar {
  display: -webkit-inline-box;
  position: relative;
  z-index: 1;
  height: 20em;
}


.menu-icon {
  margin-top: 1.5em;
  width: 1.6em;
}

.phone-img {
 margin-right: 0.3em;
 width: 21px;
 height: 21px;
}

.phone-number-header {
  margin-top: 0.65em;
  margin-right: 0.5em;
}

#phone-number-link {
  display: inline;
  padding: 0;
}

.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 2px;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
  width: 100%;
  background: #448BC7;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .menu-link {
    width: 15em;
  }

  .menu.align-right > li {
  float: left;
  font-size: 1.3em;
}

}