#logo {
  font-size: 48px;
  float: left;
  width: 6em;
  margin-left: 0.3em;
}

.phone-img {
 margin-right: 0.3em;
 width: 21px;
 height: 21px;
}

.phone-number-header {
  margin-top: 0.65em;
  margin-right: 0.5em;
}