#background-container-CCM {
  background-color: #F5F3F3;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-container-CCM {
  width: 60em;
  margin: auto;
  margin-top: 4em;
}

#questions {
  font-size: 5em;
}

.endroit {
  font-size: 3em;
}

.horizontal {
  margin-top: 3em;
  margin-bottom: 3em;
}

.top-menu {
  text-align: center;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 15px;
  width: 10em;
}

#vente-container {
  background-color: white;
  padding: 1.5em;
  height: 98em;
}

.beau {
  font-size: 1.3em;
}

.car-info {
  width: 100%;
}

.car-info-detail {
  width: 20%;
  border: 1px solid #ededed;
  margin-bottom: 1em;
  float: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1.5em;
  margin-left: -1px;
}


.sub-container-title {
  font-size: 1.59em;
  font-weight: 500;
}

.sub-container-content {
  margin-bottom: 0.6em;
  line-height: 20px;
}

.place-img {
  width: 7%;
  margin-left: 1.6em;
  margin-top: 6.5em;
}

.vente-sub-container-1 {
  width: 65%;
  float: right;
  margin-top: 5em;
  margin-bottom: 6em;
}

.vente-sub-container-2 {
  width: 48%;
  float: left;
  margin-bottom: 7em;
}

.visibility {
  width: 45%;
  margin-top: 3.2em;
}

.logo-sites {
  width: 47%;
  float: right;
}

#leboncoin-img {
  float: left;  
}

#paruvendu-img {
  float: right;
  margin-top: 3.5em;
}

#largus-img {
  float: right;
}

#lacentrale-img {
  float: left;
  margin-top: 2em;  
}

.relax-img {
  width: 11em;
  margin-top: 30em;
  float: left;
  position: absolute;
  margin-left: 4em;
}

.vente-sub-container-3 {
  width: 60%;
  float: right;
  margin-bottom: 3em;
}

.vente-sub-container-4 {
  width: 60%;
  float: left;
  margin-bottom: 3em;
  margin-top: 5em;
}

.goodbye {
  margin-top: 32em;
  /*overflow: hidden;*/
  /*display:flex;*/
  /*justify-content:flex-end;*/
  /*align-items:center;*/
  float: right;
  /*margin-right: -1em;*/
  /*vertical-align: top;*/
}

@-moz-document url-prefix() {
    .goodbye {
        margin-top: 9em;
    }
}

.goodbye-car-img {
  width: 12em;
}

.goodbye-guy-img {
  width: 8em;
  margin-right: 2em;
}

#expertise-container {
  margin-top: 10em;
  background-color: white;
  padding: 1.5em;
  height: 38em;
}

.expertise {
  font-size: 2.3em;
}

.expert-question {
  font-size: 1.3em;
}

.expertise-info {
  width: 100%;
}

.expertise-detail {
  width: 20%;
  border: 1px solid #ededed;
  margin-bottom: 1em;
  margin-left: -1px;
  float: left;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.expertise-sub-container-1 {
  width: 55%;
  float: left;
  margin-bottom: 3em;
  margin-top: 4em;
}

.experveo-img {
  margin-top: 7em;
  margin-left: 4em;
}

#prix-container {
  margin-top: 10em;
  background-color: white;
  padding: 1.5em;
  height: 80em;
}

.prix-titre {
  margin-bottom: -0.2em;
}

.prix-question {
  margin-top: 2em;
  font-size: 1.2em;
}

#prix-reponse {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}

.avant {
  width: 45%;
  float: left;
  margin-top: 5em;
  margin-bottom: 8em;
}

.apres {
  width: 45%;
  float: right;
  margin-top: 5em;
  margin-bottom: 8em;
}

.prix-contenu {
  line-height: 20px;
}

.prix-sub-container-1 {
  width: 52%;
  float: left;
  margin-bottom: 3em;
}

.autovista-img {
  width: 38%;
  margin-left: 3.5em;
  margin-top: 2.5em;
}

.prix-sous-titre {
  font-weight: 600;
}

.comparaison-img {
  width: 50%;
  margin-top: 4em;
}

.prix-sub-container-2 {
  margin-top: 7em;
  width: 48%;
  float: right;
  margin-bottom: 3em;
}

#achat-container {
  margin-top: 10em;
  background-color: white;
  padding: 1.5em;
  height: 75em;
}

.achat-info {
  float: left;
  margin-top: 2em;
}

.achat-left-column {
  width: 40%;
}

.achat-right-column {
  width: 60%;  
}

.achat-sub-title {
  font-weight: 600;
  font-size: 1.35em;
  height: 2em;
  border: 1px solid #ededed;
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-left: -1px;
}

.achat-sub-content {
  border: 1px solid #ededed;
  height: 10em;
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 3em 2em 3em 2em;;
  margin-left: -1px;
  margin-top: -1px;

}

.achat-sub-container-1 {
  width: 60%;
  float: left;
  margin-bottom: 3em;
  margin-top: 7em;
}

.car-check-img {
  width: 16%;
  margin-left: 7em;
  margin-top: 4em;
}

.lemonway-img {
  width: 30%;
  margin-right: 4.5em;
  margin-left: 1.5em;
}

.achat-sub-container-2 {
  width: 59%;
  float: right;
  margin-bottom: 4em;
}

.achat-sub-container-3 {
  width: 60%;
  float: left;
  margin-bottom: 4em;
  margin-top: 4em;
}

.mapfre-img {
  width: 30%;
  margin-left: 3.5em;
  margin-top: 5em;
}

#contact-phone-CCM {
  margin-top: 8em;
  background-color: white;
  padding: 1.5em;
  height: 100%;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 5em;
}

#contact-mail-CCM {
  background-color: white;
  padding: 1.5em;
  height: 100%;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 5em;
}

.contact-title-CCM {
  font-weight: 800;
  font-size: 3.5em;
}

#contact-title-email {
  font-weight: 800;
  font-size: 2.7em;
}

.contact-details {
  font-size: 2.8em;
}

.contact-email-details {
  font-size: 2em;
}

@media (min-width: 320px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  { 

  .top-menu {
    width: 10em;
    font-size: 1em;
  }

  .menu {
    font-size: 1.1em;
  }

  .top-menu-link {
    padding: 5px;
  }

  .information {
    margin-top: 2em;
  }

  .main-container-CCM {
    width: 100%;
  }

  .questions {
    font-size: 3.4em;
    margin-left: 0.2em;
  }

  .endroit {
    font-size: 1.3em;
    margin-left: 0.7em;
  }

  .beau {
    font-size: 1.2em;
  }

  .ccm-question {
    font-size: 1.7em;
    margin-bottom: 1em;
  }

  .car-info {
    font-size: 0.9em;
    margin-left: -5px; 
  }

  .car-info-detail {
    width: 95%;
    margin-bottom: -1px;
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
  }

  #lieu {
    margin-top: 27em;
  }

  .place-img {
    width: 20%;
    margin-left: 1.6em;
    position: relative;
    bottom: 3em;
    margin-top: 0em;
  }

  #vente-container {
    height: 100%;
    padding-bottom: 11em;
  }

  .vente-sub-container-1 {
    width: 100%;
    float: right;
    margin-top: 6em;
    margin-bottom: 6em;
  }

  .vente-sub-container-2 {
    width: 100%;
    float: none;
    margin-top: 10em;
  }

  .logo-sites {
    width: 100%;
    position: relative;
    bottom: 7em;
  }

  .vente-sub-container-3 {
    width: 100%;
    float: none;
    margin-top: 21em;
  }

  .relax-img {
    position: relative;
    bottom: 1em;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0em;
    float: none;
  }

  .vente-sub-container-4 {
    float: none;
    width: 100%;
    margin-top: 9em;
  }

  .goodbye {
    width: 83%;
    margin-top: -2em;
  }

  .goodbye-car-img {
    width: 50%;
  }

  .goodbye-guy-img {
    width: 30%;    
  }

  #expertise-container {
    height: 100%;
    padding-bottom: 5em;
  }

  .expertise {
    font-size: 2.2em;
  }

  .expert-question {
    font-size: 1.6em;
    margin-bottom: 1em;
  }

  .expertise-detail {
    width: 95%;
    margin-bottom: -1px;
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
  }

  .assurance {
    margin-top: 20.5em;
  }

  .expertise-sub-container-1 {
    width: 100%;
    float: none;
  }

  .experveo-img {
    margin-top: 0;
    margin-left: 0;
  }

  #prix-container {
    height: 137em;
  }

  .prix-titre {
    font-size: 1.2em; 
  }

  .prix-question {
    margin-top: 2em;
    font-size: 1em;
    margin-bottom: 2em;
  }

  .avant {
    width: 100%;
    margin-bottom: 2em;
  }

  .apres {
    width: 100%;
    margin-top: 3em;
  }

  .prix-sub-container-1 {
    width: 100%;
    float: none;
  }

  .autovista-img {
    width: 80%;
    margin-left: 0;
    margin-top: 0;
  }

  .prix-sub-container-2 {
    width: 100%;
    float: none;
    margin-top: 9em;
  }

  .comparaison-img {
    width: 100%;
    position: relative;
    margin-top: -2em;
  }

  #achat-container {
    height: 100%;
    padding-bottom: 5em;
  }

  .achat-main-title {
    font-size: 1.6em;
    margin-bottom: 1em;
  }

  .achat-info {
    float: none;
    margin-top: 2em;
  }

  .achat-left-column {
    width: 100%;
  }

  .achat-right-column {
    width: 100%;  
  }

  .achat-sub-title {
    font-weight: 600;
    font-size: 1.35em;
    height: 2em;
    border: 1px solid #ededed;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-left: -1px;
  }

  .achat-sub-title-right-column {
    height: 4em;
  }

  .achat-sub-content {
    border: 1px solid #ededed;
    height: 10em;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 3em 2em 3em 2em;;
    margin-left: -1px;
    margin-top: -1px;

  }

  .achat-sub-content-left-column {
    height: 12em;
  }

  .achat-sub-content-right-column {
    height: 20em;
  }

  .achat-sub-container-1 {
    width: 100%;
    float: none;
    margin-top: 6em;
  }

  .car-check-img {
    width: 42%;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    bottom: 6em;
  }

  .achat-sub-container-2 {
    width: 100%;
    float: none;
  }

  .lemonway-img {
    width: 76%;
    position: relative;
    bottom: 3em;
    margin-left: 9%;
  }

  .achat-sub-container-3 {
    width: 100%;
    margin-top: 6em;
  }

  .mapfre-img {
    width: 90%;
    margin-top: -4em;
    margin-left: 6%;
  }

  .contact-email-details {
    font-size: 1.7em;
  }
}
