#background-container {
  background-color: #F5F3F3;
  padding-top: 1em;
  padding-bottom: 1em;
}

#main-container {
  width: 60em;
  margin: auto;
  margin-top: 4em;
}

#questions {
  font-size: 5em;
}

#endroit {
  font-size: 3em;
}

.horizontal {
  margin-top: 3em;
  margin-bottom: 3em;
}

.top-menu {
  text-align: center;
  font-size: 1.2em;
  border: 1px solid black;
}

#vente-container {
  background-color: white;
  padding: 1.5em;
  padding-bottom: 58em;
}

#beau {
  font-size: 1.3em;
}

#car-info {
  text-align: center;
  font-size: 1.5em;
  width: 80%;
  margin: 0em auto 0.7em auto;
}

.sub-container-title {
  font-size: 1.59em;
  font-weight: 500;
}

.sub-container-content {
  margin-bottom: 0.6em;
  line-height: 20px;
}

.place-img {
  width: 7%;
  margin-left: 1.6em;
  margin-top: 5.5em;
}

#vente-sub-container-1 {
  width: 65%;
  float: right;
  margin-top: 3em;
  margin-bottom: 3em;
}

#vente-sub-container-2 {
  width: 48%;
  float: left;
  margin-bottom: 5em;
}

.visibility {
  width: 45%;
  margin-top: 3.2em;
}

#logo-sites {
  width: 47%;
  float: right;
}

#leboncoin-img {
  float: left;  
}

#paruvendu-img {
  float: right;
  margin-top: 3.5em;
}

#largus-img {
  float: right;
}

#lacentrale-img {
  float: left;
  margin-top: 2em;  
}

#relax-img {
  width: 16%;
  margin-top: 25em;
  float: left;
  position: relative;
  margin-left: 6em;
}

#vente-sub-container-3 {
  width: 60%;
  float: right;
  margin-bottom: 3em;
}

#vente-sub-container-4 {
  width: 60%;
  float: left;
  margin-bottom: 3em;
  margin-top: 2em;
}

.goodbye {
  float: right;
  position: relative;
  margin-top: 28em;
  /*width: 15%;*/
}

#goodbye-car-img {
  width: 16%;
  margin-left: 1em;
}

#goodbye-guy-img {
  width: 17%;
  margin-right: 1em;
}

#expertise-container {
  margin-top: 10em;
  background-color: white;
  padding: 1.5em;
  height: 38em;
}

#expertise {
  font-size: 1.3em;
}

#expertise-info {
  text-align: center;
  font-size: 1.2em;
  width: 90%;
  margin: 0em auto 0.7em auto;
}

#expertise-sub-container-1 {
  width: 55%;
  float: left;
  margin-bottom: 3em;
  margin-top: 2em;
}

#experveo-img {
  margin-top: 5em;
  margin-left: 4em;
}

#prix-container {
  margin-top: 10em;
  background-color: white;
  padding: 1.5em;
  height: 72em;
}

.prix-titre {
  margin-bottom: -0.2em;
}

#prix-question {
  margin-top: 2em;
  font-size: 1.2em;
}

#prix-reponse {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}

#avant {
  width: 45%;
  float: left;
  margin-top: 3em;
  margin-bottom: 5em;
}

#apres {
  width: 45%;
  float: right;
  margin-top: 3em;
  margin-bottom: 5em;
}

.prix-contenu {
  line-height: 20px;
}

#prix-sub-container-1 {
  width: 52%;
  float: left;
  margin-bottom: 3em;
}

#autovista-img {
  width: 38%;
  margin-left: 3.5em;
  margin-top: 2.5em;
}

.prix-sous-titre {
  font-weight: 600;
}


#prix-sub-container-2 {
  margin-top: 3em;
  width: 60%;
  float: right;
  margin-bottom: 3em;
}

#achat-container {
  margin-top: 10em;
  background-color: white;
  padding: 1.5em;
  height: 68em;
}

#achat-info {
  text-align: center;
}

#achat-main-title {
  margin-bottom: 1.5em;
}

#achat-sub-title {
  font-weight: 600;
  font-size: 1.15em;
  height: 4em;
}

#achat-sub-content {
  background-color: white;
}

#achat-sub-container-1 {
  width: 60%;
  float: left;
  margin-bottom: 3em;
  margin-top: 4em;
}

#car-check-img {
  width: 16%;
  margin-left: 7em;
  margin-top: 2em;
}

#lemonway-img {
  width: 30%;
  margin-right: 4.5em;
  margin-left: 1.5em;
  margin-top: -1em;
}

#achat-sub-container-2 {
  width: 59%;
  float: right;
  margin-bottom: 4em;
}

#achat-sub-container-3 {
  width: 60%;
  float: left;
  margin-bottom: 4em;
}

#contact-CCM {
  margin-top: 8em;
  background-color: white;
  padding: 1.5em;
  height: 20em;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 5em;
}

#call-us-title {
  font-weight: 800;
  font-size: 3.5em;
}

#call-us-number {
  font-size: 2.8em;
}