#background-container-FAQ {
  background-color: #F5F3F3;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-container-FAQ {
  width: 100%;
  margin: auto;
  margin-top: 4em;
  padding-right: 10%;
  padding-left: 10%;
}

#foirequestions {
  text-align: center;
}

#foirereponses {
  text-align: center;
  font-size: 1.6em;
}

.p-FAQ {
  line-height: 1.4em;
}

#question-n7 {
  padding-top: 5em;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 5em;
}

.vendre-container {
  background-color: white;
  padding: 1.5em;
  height: 100%;
}

.acheter-container {
  margin-top: 8em;
  background-color: white;
  padding: 1.5em;
  height: 100%;
}

.menu-FAQ {
  margin-bottom: 2em;
  padding-right: 1em;
}

.question-container-FAQ {
  border: 1px solid #ededed;
  border-bottom: 0 !important;
  padding-bottom: 1px;
}

#last-question-container-FAQ {
  border: 1px solid #ededed;
  /*padding-bottom: 1px;*/
}

.body-FAQ {
  line-height: 1.4em;
  font-size: 0.6em;
}

#body-FAQ-ul {
  margin-top: -0.3em;
  padding-bottom: 0.5em;
}

.contact-phone-FAQ {
  margin-top: 8em;
  background-color: white;
  padding: 1.5em;
  height: 100%;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 5em;
}

.contact-title-FAQ {
  font-weight: 800;
  font-size: 2em;
}

#call-us-FAQ {
  font-size: 1.5em;
}

@media (min-width: 320px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .vendre-container {
    width: 100%;
  }

  .acheter-container {
    width: 100%;
  }

  .main-container-FAQ {
    padding-right: 0;
    padding-left: 0;
  }

  #foirequestions {
    font-size: 2.3em;
  } 

  .question-n7-title {
    font-size: 1.8em;
  }

  .body-FAQ {
    line-height: 1.4em;
    font-size: 0.8em;
  }

  .question-FAQ{
    padding-right: 2em !important;
    font-size: 0.9em !important;
  }

  .contact-title-FAQ {
    font-weight: 800;
    font-size: 1.8em;
  }

}



