* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', serif;  
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.align-right {
  list-style-type: none;
}


a:hover {
  color: #009bff;
}

.main-img-tagline-container {
  height: 30em;
  background-image: url(https://s3.eu-central-1.amazonaws.com/projetvroomphotos/homepage-photo-cropped.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: inherit;
}

.main-tagline-background {
  background: rgba(255,255,255,0.5);
  width: 100%;
  position: relative;
  top: 3em;
  height: 10em;
}

#main-tagline {
  text-align: center;
  opacity: 1;
  font-size: 2em;
  font-weight: 600;
  margin: 0 auto;
  width: 28em;
  position: relative;
  top: 1em;
}

#CCM-button {
  background-color: #E11627;
  font-size: 1.4em;
  display: flex;
  margin: 0 auto;
  padding: 0.5em;
  border-bottom: 3px solid black;
  border-top: none;
  border-left: none;
  border-right: 2px solid black;  
  font-weight: 600;
  opacity: 1;
  border-radius: 5px;
  width: 15.2em;
  color: white;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

#finale {
  font-size: 1.6em;
}

#container-2 {
  text-align: center;
  font-size: 1.15em;
  margin: 2em auto 3em auto;
  width: 28em;
}

.four-benefits-banner {
  width: 70em;
  height: 21em;
  margin: auto;
  margin-top: 5em;
}

.benefit-element {
  width: 11.8em;
  margin: 0 2.8em 0 2.8em;
  float: left;
  text-align: center;
}

.benefit-element-img {
  width: 35%;
  margin-bottom: 1em;
}

.sub-feature {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #3075BD;
  height: 5em;
  border: 1px solid #ddd;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
}

.sub-benefit {
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: #3075BD;
  color: white;
  height: 5em;
  border: 1px solid #ddd;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
}

.nos-partenaires-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12em;
  margin-bottom: 6em;
}

.partenaires-title {
  font-size: 2.2em;
  font-weight: 600;
  text-align: center;
}

.partenaires-img {
  margin: 0 1.2em 0 1.2em;
  width: 12em;
}


@media (min-width: 320px) and (max-width: 667px) { 
  
  #main-tagline {
    font-size: 1.3em;
    width: 90%;
  }

  #container-2 {
    font-size: 1.1em;
    width: 90%;
  }

  #CCM-button {
    font-size: 1.2em;
  }

  .four-benefits-banner {
    width: 100%;
    height: 50em;
  }

  .benefit-element {
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .partenaires-title {
    font-size: 3.3em;
  }

  .nos-partenaires-banner {
    display: table;
    height: 12em;
    margin-bottom: 6em;
    width: 100%;
  }

  .partenaires-img {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

}