* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', serif;  
  /*border: 1px solid red;*/
}

body {
  margin: 0;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #009bff;
}

#logo {
  font-size: 48px;
  float: left;
  width: 5em;
}

.menu {
  padding-top: 0.8em;
  font-size: 1.3em;
}

#main-img {
  width: 100%;
  z-index: 0;
}

#container-1 {
  width: 100%;
  height: 12em;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 8em;
}

#main-tagline {
  text-align: center;
  opacity: 1;
  font-size: 2em;
  font-weight: 600;
  margin: 2em auto 0em auto;
  width: 28em;
}

#finale {
  font-size: 1.6em;
}

#container-2 {
  text-align: center;
  font-size: 1.15em;
  margin: 2em auto 0em auto;
  width: 28em;
}

#launch {
  font-size: 3.1em;
  text-align: center;
  margin-top: 2em;
}

#email{
  font-size: 1.2em;
  text-align: center;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  #main-tagline {
    margin: 0.5em auto 0em auto;
    font-size: 1.5em;
    width: 20em;
  }

  #container-2 {
    font-size: 1.6em;
    width: 30em;
  }
}