#background-container-QSN {
  background-color: #F5F3F3;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-container-QSN {
  width: 100%;
  margin: auto;
  margin-top: 1em;
  padding-right: 10%;
  padding-left: 10%;
}

.manifesto {
  text-align: center;
  margin-top: 1em;
}

#QSN-container-1 {
  margin-top: 5em;
  background-color: white;
  padding: 1.5em;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 3em;
  margin-bottom: 5em;
}

.p-QSN {
  line-height: 1.4em;
  margin-bottom: 0.7em;
}

.paragraph-start {
  margin-top: 2em;
}

#signature-N7 {
  margin-top: 2em;
}

@media (min-width: 320px) 
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) { 

  .main-container-QSN {
    padding-right: 0;
    padding-left: 0;
  }


}