<footer>


  <div id="footer-content">
    <ul class="footer-list">
      <li class="footer-title">Nationale 7</li>
      <li class="footer-link"><%= link_to 'Comment ça marche ?', commentcamarche_path, :class => "footer" %></li>
      <li class="footer-link">FAQ</li>            
    </ul>
    <ul class="footer-list">
      <li class="footer-title">À propos</li>
      <li class="footer-link">Qui sommes nous ?</li>
      <li class="footer-link">Contact</li>            
    </ul>
    <ul class="footer-list">
      <li class="footer-title">Conditions</li>
      <li class="footer-link">Conditions générales</li>
      <li class="footer-link">Mentions légales</li>            
    </ul>

    <div id="description-service">
      <p>N7 c'est l'achat et la vente de voitures d'occasion expertisées et garanties entre particuliers. Évitez le concessionnaire, offrez-vous un service complet, tout en faisant des économies !</p>
    </div>

    <div id="copyright">
      <p>© Nationale 7 - 2016 - Tous droits réservés</p>
    </div>

  </div>

</footer>