<header>
  <%= link_to 'Nationale 7', root_path, id: "logo" %>
  <ul class="menu align-right"> 
    <li><%= link_to 'Comment ça marche ?', commentcamarche_path %></li>
    <li><%= link_to 'FAQ', faq_path %></li>  
    <li><%= link_to 'Qui sommes nous ?', quisommesnous_path %></li>  
  </ul>
</header>